Source: gokien-welcome
Section: misc
Priority: optional
Maintainer: Trung Ngo <ndtrung4419@gmail.com>
Build-Depends: debhelper (>= 9.0.0),
 python2 (>= 2.7)
Standards-Version: 3.9.3
Homepage: http://gokienos.github.com/
Vcs-Git: git@github.com:gokienos/gokien-welcome.git

Package: gokien-welcome
Architecture: all
Depends: ${python2:Depends}, ${misc:Depends}, python-gi,
 python-pyside.qtgui, python-pyside.qtwebkit, python-xdg
Description: Welcome screen for GokienOS
