!!!
html
  head
    link(rel="stylesheet",type="text/css",href="style.css")
  body
    #wrapper
      header
        img#logo(src="logo.jpg")
        #welcome-msg $title
          
      section#shortcut
        mixin list(command, text)
          li
            a(href="javascript:changeTitle('" + command +"')")
              img(src="$" + command + "_icon")
              span.tips= text
  
        section.column
          ul
            header $working
            mixin list("lowriter","$document")
            mixin list("localc","$spreadsheet")
            mixin list("loimpress","$presentation")
                      
        section.column
          ul
            header $networking
            mixin list("firefox","$web_browser")
            mixin list("empathy","$chat")
  
        section.column
          ul
            header $extra
            mixin list("gokien-help","$help")
  
        section.column
          ul
            header $placeholder
            mixin list("Everything", "$everything")
      footer
        input(type="submit", value="$close", onclick="javascript:changeTitle(\"close\")")
    script(type="text/javascript", src="script.js")
