!!!
html
  head
    link(rel="stylesheet",type="text/css",href="style.css")
  body
    #wrapper
      header
        img#logo(src="logo.jpg")
        #welcome-msg $title
          
      section#shortcut
        mixin list(command, icon, text)
          li
            a(href="javascript:changeTitle('" + command +"')")
              img(src=icon)
              span.tips= text
  
        section.column
          ul
            header $working
            mixin list("lowriter", "$icon_libreoffice_writer", "$document")
            mixin list("localc", "$icon_libreoffice_calc", "$spreadsheet")
            mixin list("loimpress", "$icon_libreoffice_impress", "$presentation")
                      
        section.column
          ul
            header $networking
            mixin list("firefox", "$icon_firefox", "$web_browser")
            mixin list("empathy", "$icon_empathy", "$chat")
  
        section.column
          ul
            header $extra
            mixin list("gokien-help", "$icon_help", "$help")
  
        section.column
          ul
            header $placeholder
            mixin list("Everything", "$everything")
      footer
        input(type="submit", value="$close", onclick="javascript:changeTitle(\"close\")")
    script(type="text/javascript", src="script.js")
